.desc {
    position: relative;
    z-index: 20;
    min-height: 50vh;
    width: 70vw;
    margin: 0px auto;
    padding: 5vw 0vw;
    text-align: center;
}
.desc h1 {
    font-family: var(--font-archivo);
    text-align: center;
    font-size: 4vw;
    line-height: 3.8vw;
    font-weight: 500;
    padding: 2vw;
}
.desc p {
    font-size: 1.8vw;
    font-weight: 300;
    color: #c1c1c1;
}


@media screen and (max-width: 960px){
    .desc {
        min-height: 30vh;
    }
    .desc h1 {
        font-size: 5vw;
        line-height: 4.8vw;
    }
    .desc p {
        font-size: 2vw;
    }
    
}