/* -------------- Success CTA Styles --------------- */
.heroBanner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    justify-content: center;
  }
  
  .heroBannerTitle {
    width: 90%;
    color: #fff;
    font-size: 8vw;
    line-height: 7vw;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-archivo);
  }
  
  .heroBannerStrokedTitle {
    color: transparent;
    -webkit-text-stroke: 2px white;
  }
  
  .heroBannerImage {
    border-radius: 20px;
    width: 450px;
    filter: brightness(60%);
  }
  

  .ctabtn {
    position: relative;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 1.6vw;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .ctabtn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 100%;
    border-radius: 50%;
    z-index: -1;
    left: 0;
    transition: all 0.5s ease;
  }
  .ctabtn:hover{
    color: #000;
  }
  .ctabtn:hover::before{
    top: 0;
    border-radius: 0;
  }

.heroBanner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: relative;
    justify-content: center;
  }
  
  .heroBannerTitle {
    width: 90%;
    color: #fff;
    font-size: 8vw;
    line-height: 7vw;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-archivo);
  }
  
  .heroBannerStrokedTitle {
    color: transparent;
    -webkit-text-stroke: 2px white;
  }
  
  .heroBannerImage {
    border-radius: 20px;
    width: 450px;
    filter: brightness(60%);
  }
  
  @media screen and (max-width: 960px){
  .heroBanner {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50vh;
      position: relative;
      justify-content: center;
    }
    
    .heroBannerTitle {
      width: 90%;
      color: #fff;
      font-size: 8vw;
      line-height: 7vw;
      font-weight: 700;
      padding: 0 20px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      font-family: var(--font-archivo);
    }
    
    .heroBannerStrokedTitle {
      color: transparent;
      -webkit-text-stroke: 1px white;
    }
    
    .heroBannerImage {
      border-radius: 20px;
      width: 50vw;
      filter: brightness(60%);
    }
    
  }